body {
    background: ;
}
.main {
    max-height: 400px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 16px;
    background-color: #4262ff;
    color: white;
    border-radius: 6px;
    border: none;
    text-align: center;
    margin-right: 16px;
    margin: 10px 16px 10px 0;
}

#form {
    /* This is done in order to show the scrollbar. */
    max-height: 200px;
}

.buttons-wrapper {
    background-color: #ffffff;
    padding: 24px 50px;
}

.form-container {
    background-color: #f8f8f7;
    padding: 32px 50px 24px;
}

.form-container .title {
    display: block;
    margin-bottom: 24px;
}

.form-modal {
    min-width: 600px;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
        url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
